<section id="footer">
    <div class="inner">
                            <h2 class="major">Get in touch</h2>
                            <form action="//convospot.us13.list-manage.com/subscribe/post?u=5d09472ed22fd10a4e82ebc98&amp;id=46c363364d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div class="field">
                                    <label for="mce-EMAIL">Email</label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div class="field">
                                    <label for="mce-FNAME">First Name</label>
                                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                </div>
                                <div class="field">
                                    <label for="mce-LNAME">Last Name</label>
                                    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                </div>
                                    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5d09472ed22fd10a4e82ebc98_46c363364d" tabindex="-1" value=""></div>
                                <ul class="actions">
                                    <li><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></li>
                                </ul>
                            </form>
                            <ul class="contact">
                                <li class="fa-home">
                                    34 Carriage Lane<br>
                                    Hanover NH 03755
                                </li>
                                <li class="fa-phone">(603) 676-7847</li>
                            </ul>
                            <ul class="copyright">
                                <li>© Reflen Inc. All rights reserved 2016.</li>
                                <li>
                                <ul class="social">    
                                <li><a href="info@convospot.io"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="https://www.facebook.com/reflenapp/?fref=ts"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/reflenapp"><i class="fa fa-twitter"></i></a></li>  
                                </ul>
                                </li>
                                <li>Design based on <a href="https://html5up.net/solid-state">solid state</a></li>
                            </ul>

                        </div>
</section>