<header id="header"{% if page.home %} class="alt"{% endif %}>
    <h1 class="logo"><a href="{{ page.find("/").url }}"><img src="{{ site.header.logo }}"></img>{{ site.header.title }}</a></h1>
    <nav>
        <a href="#menu"><i class="zmdi zmdi-menu"></i><span class="sr-only">{{ site.header.menu_name }}</span></a>
    </nav>
</header>