<header id="header" class="navbar headroom" role="banner">
    <h1 class="logo"><a href="{{ page.find("/").url }}"><img src="{{ site.header.logo_with_text }}"></img><span class="sr-only">{{ site.header.title }}</span></a></h1>
    <nav>
        <a href="#" class="small" ontap="showConvospot()" onclick="showConvospot()">Talk</a>
        <a href="http://app.convospot.io/login" class="small ">Login</a>
        <a href="http://app.convospot.io/signup" class="small rev">Signup</a>
        <a href="#menu"><i class="zmdi zmdi-menu"></i><span class="sr-only">{{ site.header.menu_name }}</span></a>
    </nav>
</header>