<section id="banner">
    <div class="slash">
        <div class="inner">
            <div class="pure-g">
                <div class="pure-u-1-2">
                  <h2>{{page.header.title}}</h2>
                  <h3>{{page.header.sub}}</h3>
                </div>
                <div class="pure-u-1-2">
                    <img src="{{page.header.image}}" alt="demo"></img>
                </div>
            </div>
        </div>
    </div>
</section>
