<section id="banner">
    <div class="slash">
    <div class="color-mask"></div>
    <video muted autoplay class="fullscreen-bg" poster="/user/pages/01.home/cover.png">
        <source src="/user/pages/01.home/demo.mp4" type="video/mp4">
    </video>
    </div>
    <div class="inner">
        {{ content }}
        <div class="quick-signup">
			<form class="group" action="//convospot.us13.list-manage.com/subscribe/post?u=5d09472ed22fd10a4e82ebc98&amp;id=46c363364d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
					<input type="email" value="" name="EMAIL" class="email left" id="mce-EMAIL" placeholder="email address" required="">
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<input type="submit" value="DEMO" name="demo" id="mc-embedded-subscribe" class="button right"> </form>
	    </div>
    </div>
    <img src="/user/pages/01.home/clickhere.png" style="z-index: 99; position: fixed; bottom: 58px; right: 30px;">
    </img> 
</section>
