<section id="slide">
    <div class="slide">
        <div class="single-slide">
            <div class="inner">
                <div class="content">
                    <h3>Save time</h3>
                    <h2>Engage customers with automation</h2>
                    <p>Convospot allows you to communicate your users by a chatbot and sending automated actions. You can have a 24/7 personal assistant to help you communicate visitors promptly and lively. Your customer will receive answers instantly before losing interest.</p>
                    <a href="http://app.convospot.io/signup" class="button">Signup</a>
                </div>
            </div>
        </div>
        <div class="single-slide">
            <div class="inner">
                <div class="content">
                    <h3>Creat new opportunities</h3>
                    <h2>Real-time and data-driven actions</h2>
                    <p>Convospot provides personalized conversations. Using all sorts of real-time context, our data engine provides analysis plus actions for thousands of people at the same time. You can have data-driven, responsive, agile marketing for your buisness in just a few clicks</p>
                    <a href="http://app.convospot.io/signup" class="button">Signup</a>
                </div>
            </div>
        </div>
        <div class="single-slide">
            <div class="inner">
                <div class="content">
                    <h3>Accumulate knowledge</h3>
                    <h2>Learn what and how</h2>
                    <p>Convospot can learn and remember what to say and even the manner of saying it from real people. So convospot will accumulate the knowledge from every communications and the chatbot will improve itself automatically.</p>
                    <a href="http://app.convospot.io/signup" class="button">Signup</a>
                </div>
            </div>
        </div>
    </div>
</section>
