.convospot-site {
    #customer {
        background: linear-gradient(#fff, #f7f7f7);
        ul {
        	li {
        		display: inline;
        		list-style: none;
        	}
        	margin: 0;
        }
    }
}
