.generic {
    .inner {
        @include padding(3em, 0);
        margin: 0 auto;
        width: _size(inner);
        text-align: center;
        h2 {
            color: _palette(bold);
            font-weight: 600;
            font-size: 32px;
        }
    }
}
